{% extends 'portfolio/layout.html' %}
{% load static %}

{% block header %}
{% endblock%}

{% block main %}
    <section class="section bd-container" id="teste">
        <div>
            <img id="imagem" src="{% static 'portfolio/images/proj3.jpg' %}" alt="Imagem" class="activities__img">
            <h1 id="frase">Insere o teu nome</h1>
            <form>
                <input type="text" id="nome" placeholder="Insira o seu nome" autofocus>
                <input type="submit">
            </form>
        </div>
    </section>
    
    <section class="section container_calculator bd-container">
        <div class="about__container grid">
            <h1> Bora fazer algumas contas!</h1>

            <div class="calculator">
                <form action="">
                    <div class="display">
                        <input type="text" name="display">
                    </div>
                    <div>
                        <input type="button" value="AC" onclick="display.value = '' " class="operator">
                        <input type="button" value="DE" onclick="display.value = display.value.toString().slice(0,-1) " class="operator">
                        <input type="button" value="." onclick="display.value += '.' " class="operator">
                        <input type="button" value="/" onclick="display.value += '/' " class="operator">
                    </div>
                    <div>
                        <input type="button" value="7" onclick="display.value += '7' ">
                        <input type="button" value="8" onclick="display.value += '8' ">
                        <input type="button" value="9" onclick="display.value += '9' ">
                        <input type="button" value="*" onclick="display.value += '*' " class="operator">
                    </div>
                    <div>
                        <input type="button" value="4" onclick="display.value += '4' ">
                        <input type="button" value="5" onclick="display.value += '5' ">
                        <input type="button" value="6" onclick="display.value += '6' ">
                        <input type="button" value="-" onclick="display.value += '-' " class="operator">
                    </div>
                    <div>
                        <input type="button" value="1" onclick="display.value += '1' ">
                        <input type="button" value="2" onclick="display.value += '2' ">
                        <input type="button" value="3" onclick="display.value += '3' ">
                        <input type="button" value="+" onclick="display.value += '+' " class="operator">
                    </div>
                    <div>
                        <input type="button" value="00" onclick="display.value += '00' ">
                        <input type="button" value="0" onclick="display.value += '0' ">
                        <input type="button" value="=" onclick="display.value = eval(display.value)" class="equal operator">
                    </div>
                </form>
            </div>
        </div>
    </section>

    <section>
        <div class="parallax-container">
            <div class="parallax-image first">
                <img src="{% static 'portfolio/images/rembkg-removebg-preview.png' %}" alt="">
            </div>
            <div class="parallax-image second">
                <img src="{% static 'portfolio/images/rembkg-removebg-preview.png' %}" alt="">
            </div>
            <div class="parallax-image third">
                <img src="{% static 'portfolio/images/rembkg-removebg-preview.png' %}" alt="">
            </div>
            <div class="parallax-text" id="parallax-text">
                <h1 id="opening">Welcome to My Parallax Page</h1>
                <p>This page is under maitenance</p>
            </div>
        </div>
    </section>
{% endblock %}
