{% extends 'portfolio/layout.html' %}
{% load static %}

{% block header %}
{% endblock%}

{% block main %}
    <section class="portfolio section bd-container">
        <span class="section-subtitle"> My recent portfolio </span>
        <h2 class="section__title"> Portfolio </h2>
        <div class="portfolio__nav">
            <span class="portfolio__item">All</span>
            <span class="portfolio__item">Front-End</span>
            <span class="portfolio__item">Back-End</span>
            <span class="portfolio__item">Projetos</span>
        </div>
        <div class="portfolio__container bd-container">
            <!--CASE 1-->
            <div class="portfolio__content">
                <a href="#"><img src="{% static 'portfolio/images/back-end.jpg' %}" class="portfolio__img"></a>
                <div class="portfolio__data">
                    <span class="portfolio__subtitle">Back-end</span>
                    <a href="#"><h2>This Portfolio</h2></a>
                    <a href="#" class="button button-link">View Details</a>
                </div>
            </div>
            <!--CASE 2-->
            <div class="portfolio__content">
                <a href="#"><img src="{% static 'portfolio/images/front-end.jpg' %}" class="portfolio__img"></a>
                <div class="portfolio__data">
                    <span class="portfolio__subtitle">Front-end</span>
                    <a href="#"><h2>This Portfolio</h2></a>
                    <a href="#" class="button button-link">View Details</a>
                </div>
            </div>
            <!--CASE 3-->
            <div class="portfolio__content">
                <a href="#"><img src="{% static 'portfolio/images/school_projects.jpg.jpg' %}" class="portfolio__img"></a>
                <div class="portfolio__data">
                    <span class="portfolio__subtitle">Web development</span>
                    <a href="#"><h2>This Portfolio</h2></a>
                    <a href="#" class="button button-link">View Details</a>
                </div>
            </div>
            <!--CASE 4-->
            <div class="portfolio__content">
                <a href="#"><img src="{% static 'portfolio/images/back-end.jpg' %}" class="portfolio__img"></a>
                <div class="portfolio__data">
                    <span class="portfolio__subtitle">Web development</span>
                    <a href="#"><h2>This Portfolio</h2></a>
                    <a href="#" class="button button-link">View Details</a>
                </div>
            </div>
            <!--CASE 5-->
            <div class="portfolio__content">
                <a href="#"><img src="{% static 'portfolio/images/back-end.jpg' %}" class="portfolio__img"></a>
                <div class="portfolio__data">
                    <span class="portfolio__subtitle">Web development</span>
                    <a href="#"><h2>This Portfolio</h2></a>
                    <a href="#" class="button button-link">View Details</a>
                </div>
            </div>
        </div>

    </section>
{% endblock %}