{% extends 'portfolio/layout.html' %}
{% load static %}


{% block main %} 
    <header class="header" id="header">
        <nav class="nav container">
            <a href="index.html" class="nav__logo">Okica's</a>

            <div class="nav__menu" id="nav-menu">
                <ul class="nav__list" id="nav-list">
                    <li class="nav__item active">
                        <a href={url "index"}  class="nav__link">Intro</a>
                    </li>
                    <li class="nav__item">
                        <a href={url "escola"} class="nav__link">Studies</a>
                    </li>
                    <li class="nav__item">
                        <a href={url "blog"} class="nav__link">Activities</a>
                    </li>
                    <li class="nav__item">
                        <a href="#about" class="nav__link">About this Website</a>
                    </li>
                    <li class="nav__item popup" onclick="myFunction()">
                        <a href="#" class="nav__link">Contact</a>
                        <div class="popuptext" id="myPopup">Email: 123.@alunos.ulht.pt</div>
                    </li>
                </ul>

                <div class="nav__close" id="nav-close">
                    <i class="ri-close-line"></i>
                </div>
            </div>

            <div class="nav__btns">
                <i class="ri-moon-line change-theme" id="theme-button"></i>

                <div class="nav__toggle" id="nav-toggle">
                    <i class="ri-menu-line"></i>
                </div>
            </div>
        </nav>
    </header> 
    <main class="main">
        <section class="home" id="home">
            <div class="comment-box">
                <h2>Me as a student</h2>
                <form action="#" method="POST">
                    {% csrf_token %}
                    <input type="text" name="full_name" placeholder="Full name">
                    <input type="email" name="email" placeholder="Email address">
                    <textarea type="text" name="comment" placeholder="Relato da vida de um estudante"></textarea>
                    <button type="submit">Publicar</button>
                </form>
            </div>
        </section>
        <section class="home" id="home">
            <div class="comment-box">
                <h2>Relatos</h2>
                {% for projeto in projetos %}
                    <h2>{{ projeto.titulo }}</h2>
                    <p>{{ projeto.descricao }}</p>
                {% endfor %}
            </div>
        </section>
    </main>
    <footer>
        <p>Today is: <span id="date"></span></p>
    </footer>
{% endblock main %}