{% extends 'portfolio/layout.html' %}
{% load static %}

{% block header %}
{% endblock%}

{% block main %}
    <section class="section" id="test">
        <div class="news-heading">
            <h1>News Section</h1>
        </div>
        <div class="news-container">
            <div class="news-box">
                <div>
                    <img src="{% static 'portfolio/images/news1.jpg' %}">
                </div>
                <div class="news-text">
                    <span>DEV-TALK SERIES / Jul 4</span>
                    <a href="#" class="news-title">CEO: “11 Developers Resigned in a Day and Destroyed Me”</a>
                    <p>In this interview, at one moment, the interviewee, who is a developer and a CEO, talked about one of the most challenging times in his company.
I recently talked with a founder and CEO of a software development company. I wanted to have his insights on how to start a software development company and what to keep in mind before making such a decision as a developer.</p>
                    <a href="https://medium.com/javascript-in-plain-english/ceo-11-developers-resigned-in-a-day-and-destroyed-me-53d4ee71d64f">Read More</a>
                </div>
            </div>
            <div class="news-box">
                <div>
                    <img src="{% static 'portfolio/images/news1.jpg' %}">
                </div>
                <div class="news-text">
                    <span>DEV-TALK SERIES / Jul 4</span>
                    <a href="#" class="news-title">CEO: “11 Developers Resigned in a Day and Destroyed Me”</a>
                    <p>In this interview, at one moment, the interviewee, who is a developer and a CEO, talked about one of the most challenging times in his company.
I recently talked with a founder and CEO of a software development company. I wanted to have his insights on how to start a software development company and what to keep in mind before making such a decision as a developer.</p>
                    <a href="https://medium.com/javascript-in-plain-english/ceo-11-developers-resigned-in-a-day-and-destroyed-me-53d4ee71d64f">Read More</a>
                </div>
            </div>
            <div class="news-box">
                <div>
                    <img src="{% static 'portfolio/images/news1.jpg' %}">
                </div>
                <div class="news-text">
                    <span>DEV-TALK SERIES / Jul 4</span>
                    <a href="#" class="news-title">CEO: “11 Developers Resigned in a Day and Destroyed Me”</a>
                    <p>In this interview, at one moment, the interviewee, who is a developer and a CEO, talked about one of the most challenging times in his company.
I recently talked with a founder and CEO of a software development company. I wanted to have his insights on how to start a software development company and what to keep in mind before making such a decision as a developer.</p>
                    <a href="https://medium.com/javascript-in-plain-english/ceo-11-developers-resigned-in-a-day-and-destroyed-me-53d4ee71d64f">Read More</a>
                </div>
            </div>
            <div class="news-box">
                <div>
                    <img src="{% static 'portfolio/images/news1.jpg' %}">
                </div>
                <div class="news-text">
                    <span>DEV-TALK SERIES / Jul 4</span>
                    <a href="#" class="news-title">CEO: “11 Developers Resigned in a Day and Destroyed Me”</a>
                    <p>In this interview, at one moment, the interviewee, who is a developer and a CEO, talked about one of the most challenging times in his company.
I recently talked with a founder and CEO of a software development company. I wanted to have his insights on how to start a software development company and what to keep in mind before making such a decision as a developer.</p>
                    <a href="https://medium.com/javascript-in-plain-english/ceo-11-developers-resigned-in-a-day-and-destroyed-me-53d4ee71d64f">Read More</a>
                </div>
            </div>
            <div class="news-box">
                <div>
                    <img src="{% static 'portfolio/images/news1.jpg' %}">
                </div>
                <div class="news-text">
                    <span>DEV-TALK SERIES / Jul 4</span>
                    <a href="#" class="news-title">CEO: “11 Developers Resigned in a Day and Destroyed Me”</a>
                    <p>In this interview, at one moment, the interviewee, who is a developer and a CEO, talked about one of the most challenging times in his company.
I recently talked with a founder and CEO of a software development company. I wanted to have his insights on how to start a software development company and what to keep in mind before making such a decision as a developer.</p>
                    <a href="https://medium.com/javascript-in-plain-english/ceo-11-developers-resigned-in-a-day-and-destroyed-me-53d4ee71d64f">Read More</a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}