{% extends 'portfolio/layoutDjando.html' %}

{% load static %}

{% block header %}
{% endblock%}

{% block main %}
    <section class="jumbotron blog__container bd-container">
        <div class="">
            <h1>Nova Tarefas</h1>
            <form action="{% url 'portfolio:novopost' %}" method="POST">
            {% csrf_token %}
                {{ form.as_p }}

                <a href="{% url 'portfolio:blogueira' %}" role="button" class="btn btn-warning">Cancelar</a>
                <input type="submit" value="Gravar" class="btn btn-success" >
            </form>
        </div>
    </section>
{% endblock %}